@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
:root {
	--primary-dark-color: #202124;
	--secondary-dark-color: #1B1C1F;
	--secondary-dark-color-hover: #1D1E21;
}
body {
	background-color: var(--primary-dark-color);
	font-family: "Quicksand", sans-serif;
	color: white;
}
