.card {
	background-color: var(--secondary-dark-color);
	transition: all ease-in-out 200ms;
	border-radius: 10px;
}
.card button {
	opacity: 0;
	transition: all ease-in-out 200ms;
}
.card:hover {
	background-color: var(--secondary-dark-color-hover);
	box-shadow: -3px 8px 10px rgba(0,0,0,0.3);
	transform: translateY(-2px);
}
.card:hover button {
	opacity: 1;
}
